trigger:
- main

resources:
- repo: self

stages:
- stage: BuildAndPushDockerImages
  displayName: Build and push docker images
  jobs:  
  - job: medusa
    displayName: medusa
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: medusa
      inputs:
        repository: eliasba/medusa
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        containerRegistry: |
          DockerHub
        tags: |
          latest
